@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
  @apply bg-white overflow-x-hidden;
}
section {
  @apply py-14;
}
.image_pos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../public/bg_fixed.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}
@media (max-width: 768px) {
  .image_pos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("../public/mobile.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
  }
}
.home_slider .swiper-pagination-bullet {
  @apply bg-white;
}
.home_slider .swiper-pagination-bullet-active {
  @apply bg-primary;
}
.max-w-8xl {
  @apply 2xl:max-w-[1440px] max-w-[85%];
}
.swiper-pagination-bullet {
  @apply transition duration-200;
}
.swiper-pagination-bullet-active {
  @apply scale-125;
}

a:hover {
  @apply brightness-75 transition duration-200;
}
.bg_img {
  background-image: url("https://picsum.photos/1920/1080");
  height: 100dvh;
}
